<footer class="footer" *ngIf="todoItems.length > 0">
    <span class="todo-count"><strong>{{todoItems.length}}</strong>item left total</span>
    <ul class="filters">
        <li>
            <a routerLink="/" [class.selected]="filter === 'all'">All</a>
        </li>
        <li>
            <a routerLink="/active" [class.selected]="filter === 'active'">Active</a>
        </li>
        <li>
            <a routerLink="/completed" [class.selected]="filter === 'completed'">Completed</a>
        </li>
    </ul>
    <!-- Hidden if no completed items are left ↓ -->
    <button class="clear-completed">Clear completed</button>
</footer>