<section class="main">
    <input id="toggle-all" class="toggle-all" type="checkbox" />
    <label for="toggle-all">Mark all as complete</label>
    <ul class="todo-list">
        <li *ngFor="let item of todoItems">
            <app-todo-item [item]="item" (removeId)="onRemove($event)" (setDone)="onSetDone($event)"></app-todo-item>
            <input class="edit" value="Rule the web" />
        </li>
    </ul>
</section>

<section class="api-response">
    <button (click)="sendTodoItems()">Generate</button>
    <div class="result-card" *ngIf="result">
        <h3>API Response</h3>
        <div [innerHTML]="formattedResult"></div>
    </div>
</section>